

@media only screen and (max-width: 787px) { 
  
  %app-name {
    font-family: 'Zilla Slab', serif;
      color: #FAAF40;
      font-weight: bold;
      text-transform: uppercase;
  }

  .create-discounts--container {
    height: 100vh;
    background-color: #000;
    color:#fff;
    padding-top: 10px;
  }
  
  h2 {
    @extend%app-name;
    font-size: 13px;
    text-align: center;
  }

  .client-name {
    margin-left: 50px;
    width: 267px;
  }

  .client-name h3 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
  }

  .client-name span {
    font-weight: 800;
  }

  .client-name p {
    font-size: 10px;
    line-height: 15px;
    font-weight: 300;
  }



}